body {
	margin: 0
}

img {
	border-style: none
}

.position-relative {
	position: relative !important
}

.position-absolute {
	position: absolute !important
}

.overflow-hidden {
	overflow: hidden !important
}

.width-full {
	width: 100% !important
}

.top-0 {
	top: 0 !important
}

.left-0 {
	left: 0 !important
}

.d-block {
	display: block !important
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

.mx-auto {
	margin-right: auto !important;
	margin-left: auto !important
}